@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transi {
    transition: .3s all ease-in-out;
}

